@import "./base.css";
@import "./markdown.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-white {
  background-color: #ffffff;
}

.border-gray {
  border-color: rgb(156 163 175);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}