$brand: #ea552d;
$white: #ffffff;
$black: #1f2937;
$grey: #f7f8f9;
$red: #fa0101;
$jade: #34dfa5;
$producthunt: #ea552d;

$white-grey: #f4f6fa;
$silver-grey: #9393aa;
$black-grey: #272755;
$dropdown-grey: #606266;
